<!-- HEADER -->
<%- include('include/header') %>
<!-- /HEADER -->

<!-- MAIN -->
<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
           <div class="filter">
               <a href="/" class="gradient-text"><i class="fas fa-angle-double-left"></i> All Users</a>
           </div>
        </div>
        <div class="form-title text-center">
            <h2 class="gradient-text"><i class="fas fa-user-plus"></i></h2>
            <span class="light-text">Use the below form to create a new user account</span>
        </div>

        <!-- ADD USER FORM -->
        <%- include('include/add_form') %>
        <!-- /ADD USER FORM -->
       
    </div>
</main>
<!-- /MAIN -->

<!-- FOOTER -->
<%- include('include/footer') %>
<!-- /FOOTER -->
